---
import { SITE } from 'astrowind:config';
---
<a href="/" class="flex items-center gap-2 min-w-0">
  <img
    src="/src/assets/favicons/blog.svg"
    alt="Osman Suleimanov"
    class="h-8 w-auto shrink-0"
  />
  <span class="text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</a>

