---
export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Toggle Menu',
  class: className = 'flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group',
} = Astro.props;
---

<button
  id="custom-toggle-menu"
  class="relative size-10 lg:hidden"
  aria-expanded="false"
  aria-controls="mobile-menu"
  aria-label="Menu"
>
  <svg
    class="styles_hamburger__F4zzS size-10"
    viewBox="0 0 100 100"
    width="24"
    xmlns="http://www.w3.org/2000/svg"
    stroke-width="5.5"
    fill="none"
    stroke="currentColor"
  >
    <path
      class="styles_line__D4vEx styles_top__K0nNB"
      d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"
    />
    <path
      class="styles_line__D4vEx"
      d="m 70,50 h -40"
    />
    <path
      class="styles_line__D4vEx styles_bottom__4yuSE"
      d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"
    />
  </svg>
</button>
